Repository Aeternalis-Ingenium/GGEA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aeternalis-Ingenium, @JosefLeinweber, @kirill967, @NewerKey

feat(docker): create a directory to run docker image
  backend/Dockerfile
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker): configure environment variables for image
  backend/Dockerfile
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker): add port to use to access image
  backend/Dockerfile
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker): install system and python dependencies for image
  backend/Dockerfile
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker): copy application files to use for image
  backend/Dockerfile
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker): add entrypoint for connecting database
  backend/Dockerfile
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker): run command for starting server
  backend/Dockerfile
Owners: @Aeternalis-Ingenium, @NewerKey

feat(entrypoint): create script for connecting to database
  backend/entrypoint/db.sh
Owners: none

feat(docker-compose): configure docker-compose for backend server
  docker-compose.yaml
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker-compose): configure postgres database image
  docker-compose.yaml
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker-compose): configure database editor image
  docker-compose.yaml
Owners: @Aeternalis-Ingenium, @NewerKey

feat(docker-compose): add database volume for data
  docker-compose.yaml
Owners: @Aeternalis-Ingenium, @NewerKey

fix(pre-commit): fix end of file and whitespace
  backend/Dockerfile
  backend/entrypoint/db.sh
Owners: @Aeternalis-Ingenium, @NewerKey

fix(docker-compose): add version number
  docker-compose.yaml
Owners: @Aeternalis-Ingenium, @NewerKey

docs(readme): Updated main README with information for setup on windows
  README.md
Owners: none

docs(main): Added first version of ERD
  docs/ERD.pdf
Owners: none

docs(main): Added first version of ERD
  docs/ERD.pdf
Owners: none

feat(models): Created profil class for db
  backend/src/models/db/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(database): Create Database in Repositry and CRUD base class
  backend/src/repository/__init__.py
  backend/src/repository/base.py
  backend/src/repository/crud/__init__.py
  backend/src/repository/database.py
  backend/src/repository/events.py
  backend/src/repository/migrations/env.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(models): Create Base models for Database and Schema classes
  backend/src/models/db/base.py
  backend/src/models/schema/base.py
  backend/src/repository/crud/base.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(config): Create database and database host for StageSettings
  backend/src/config/settings/base.py
  backend/src/config/settings/staging.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(db-migration): Set up Alembic with asynchronous template
  backend/alembic.ini
  backend/src/repository/migrations/script.py.mako
Owners: none

feat(logging-system): Update backend server with general event handlers
  backend/src/config/events.py
  backend/src/main.py
  backend/src/models/db/__init__.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(entrypoints): Update postgres entrypoints for Docker Postgres Server Dev and Test
  backend/entrypoints/db.sh
  backend/entrypoints/retry_postgres_dev_server.sh
  backend/entrypoints/retry_postgres_test_server.sh
Owners: none

feat(docker): Update Docker compose
  .dockerignore
  backend/Dockerfile
  docker-compose.yaml
Owners: @Aeternalis-Ingenium, @NewerKey

docs(adminer): Add short intro about Adminer with our use-case
  docs/ADMINER.md
Owners: none

fix(docker): Remove extra unused environment crednetials
  docker-compose.yaml
Owners: @Aeternalis-Ingenium, @NewerKey

docs(readme): Updated main README with information for setup on windows
  README.md
Owners: none

docs(README): Created docker link list, one for windows and one for max & linux
  README.md
Owners: none

docs(main): Updated ERD, changed name of Friend table to Friend_List
  docs/ERD.pdf
Owners: none

docs(main): Updated ERD, changed name of Friend table to Friend_List
  docs/ERD.pdf
Owners: none

docs(main): Added first version of ERD
  docs/ERD.pdf
Owners: none

feat(models): Created profile pydantic class for data validation
  backend/src/models/schemas/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(models): Created profil class for db
  backend/src/models/db/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(models): Added import of BaseTable to profil.py
  backend/src/models/db/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(merge_conflict): sorry for the mess
  backend/src/models/db/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

Moved profile.py from schemas to schema & removed schemas folder
  backend/src/models/schema/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

Added import of BaseScehmaModel to profile.py
  backend/src/models/schema/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

Commit to enforce pre-commit
  backend/src/models/schema/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

Commit to enforce pre-commit
  backend/src/models/schema/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

.github/CODEOWNERS:

# Python related code
*.py @Aeternalis-Ingenium @JosefLeinweber

# Java Script related code
*.js @kirill967
*.jsx @kirill967
*.rc @kirill967
*.tsx @kirill967
*.ts @kirill967
*.cjs @kirill967

# HTML & CSS related code
*.html @kirill967
*.css @kirill967
*.scss @kirill967

# JSON related code
*.json @Aeternalis-Ingenium

# DevOps related code
*.yml @Aeternalis-Ingenium @NewerKey
*.yaml @Aeternalis-Ingenium @NewerKey
*.tf @Aeternalis-Ingenium @NewerKey
Dockerfile @Aeternalis-Ingenium @NewerKey
Dockerfile.* @Aeternalis-Ingenium @NewerKey
