Repository Aeternalis-Ingenium/GGEA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aeternalis-Ingenium, @JosefLeinweber, @kirill967, @NewerKey

.github/CODEOWNERS:

# Python related code
*.py @Aeternalis-Ingenium @JosefLeinweber

# Java Script related code
*.js @kirill967
*.jsx @kirill967
*.rc @kirill967
*.tsx @kirill967
*.ts @kirill967
*.cjs @kirill967

# HTML & CSS related code
*.html @kirill967
*.css @kirill967
*.scss @kirill967

# JSON related code
*.json @Aeternalis-Ingenium

# DevOps related code
*.yml @Aeternalis-Ingenium @NewerKey
*.yaml @Aeternalis-Ingenium @NewerKey
*.tf @Aeternalis-Ingenium @NewerKey
Dockerfile @Aeternalis-Ingenium @NewerKey
Dockerfile.* @Aeternalis-Ingenium @NewerKey

Update profile.py
  backend/src/models/schema/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

docs(README): Added instruction for resolving missing ggea_dev_db on first start up of the docker
  README.md
Owners: none

fix(pre-commit): rerun the pre-commit localy and made small grammar changes
  README.md
Owners: none

feat: Added frontend
  frontend/client/.gitignore
  frontend/client/README.md
  frontend/client/package-lock.json
  frontend/client/package.json
  frontend/client/public/favicon.ico
  frontend/client/public/index.html
  frontend/client/public/logo192.png
  frontend/client/public/logo512.png
  frontend/client/public/manifest.json
  frontend/client/public/robots.txt
  frontend/client/src/App.css
  frontend/client/src/App.test.tsx
  frontend/client/src/App.tsx
  frontend/client/src/index.css
  frontend/client/src/index.tsx
  frontend/client/src/logo.svg
  frontend/client/src/react-app-env.d.ts
  frontend/client/src/reportWebVitals.ts
  frontend/client/src/setupTests.ts
  frontend/client/tsconfig.json
Owners: @Aeternalis-Ingenium, @kirill967

feat(profile-CURD): added if statement to read_profile_by_id
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profile-CRUD): added read_profiles and read_profile_by_id
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profile_CRUD): added update_profile_by_id
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profile-CRUD): added update_profile_by_id
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profile-CRUD): added imports
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profile_CRUD): deleted unused imports
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(authentication): started adding the profile CRUD methods waiting for trunk update
  backend/src/api/routes/authentication.py
  backend/src/models/db/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(account-profile-relationship): Estahlished 1-to-1 relationship
  backend/src/models/db/account.py
  backend/src/models/db/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(profile-CRUD): fixed wrong import
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(crud-profil & authentiaction route): changes to establish connection btwn an account and a profile
  backend/src/api/routes/authentication.py
  backend/src/models/schema/profile.py
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(exceptions): Added a wrapper class for sqlalchemy.DatabaseError
  backend/src/repository/crud/profile.py
  backend/src/utility/exceptions/database.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profile): empty profile.py file
  backend/src/api/routes/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profile): getting started with the first try to created a endpoint
  backend/src/api/endpoints.py
  backend/src/api/routes/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profiles-endpoints): added get_profiles endpoint for dev purposes
  backend/src/api/routes/profile.py
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(profile-curd): Added missing import for DatabaseError
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(profile-endpoint): Frist version of update_profile_by_id() endpoint finished
  backend/src/api/routes/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(profile-endpoint): Made the profile endpoint work & disabled authorization for the route for easy of dev
  backend/src/api/routes/profile.py
  backend/src/models/db/profile.py
  backend/src/models/schema/profile.py
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(pre-commit): forcing pre-commit
  backend/src/models/db/account.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(schema-profile): deleted ProfileInSignup
  backend/src/api/routes/authentication.py
  backend/src/models/schema/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

feat(schema-account):Added is_profile_created to AccountInSignupResponse
  backend/src/api/routes/authentication.py
  backend/src/api/routes/profile.py
  backend/src/models/schema/account.py
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(profile db & schema): added defaults to profile columns & made fields 'none-able' in ProfileInResponse
  backend/src/models/db/profile.py
  backend/src/models/schema/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber

fix(profile update-endpoint & schema): Removed win, loss and mmr from the updateable parameters
  backend/src/models/schema/profile.py
  backend/src/repository/crud/profile.py
Owners: @Aeternalis-Ingenium, @JosefLeinweber
